.footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-top: 2px solid #f44336;
    padding-block: 0.5rem;
    height: 1em;

}